<div class="section-margin">
	<div class="row">
		<div class="small-12 columns">
			<div class="blog-post-wrapper">
				<div class="thb-page-title standard-page-title">
	  			<h1 class="thb-shop-title">{{ page.title }}</h1>
				</div>
        <div class="post-content rte">{{ page.content }}</div>
			</div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Page"
	}
{% endschema %}
