/*------------------------------------------------------------------
Variables
*/
/*------------------------------------------------------------------
Utilities
*/
/* Multicolumn */
.multicolumn .horizontal-textbox + .horizontal-textbox {
  margin-top: 30px; }
  @media only screen and (min-width: 768px) {
    .multicolumn .horizontal-textbox + .horizontal-textbox {
      margin-top: 0; } }

.multicolumn .low-padding .horizontal-textbox + .horizontal-textbox {
  margin-top: 10px; }
  @media only screen and (min-width: 768px) {
    .multicolumn .low-padding .horizontal-textbox + .horizontal-textbox {
      margin-top: 0; } }

.multicolumn .pixel-padding .horizontal-textbox + .horizontal-textbox {
  margin-top: 1px; }
  @media only screen and (min-width: 768px) {
    .multicolumn .pixel-padding .horizontal-textbox + .horizontal-textbox {
      margin-top: 0; } }

.multicolumn .horizontal-textbox-inner {
  padding: 8% 10%;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    .multicolumn .horizontal-textbox-inner {
      padding: 10%; } }
  .multicolumn .horizontal-textbox-inner *:last-child {
    margin-bottom: 0; }

.multicolumn .btn-text.style4 {
  font-size: 15px;
  text-transform: uppercase; }

.multicolumn--image {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px; }
  .multicolumn--image img,
  .multicolumn--image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #83C429;
    border-radius: 20px;} 
  .multicolumn--image a {
    display: block; }
  .multicolumn--image.media-aspect--square {
    padding-bottom: 100%; }
  .multicolumn--image.media-aspect--portrait {
    padding-bottom: 125%; }
  .multicolumn--image.media-aspect--adapt {
    padding-bottom: var(--var-media-aspect-ratio); }

@media only screen and (max-width: 767px) {
  .multicolumn.swipe-on-mobile .row {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(calc(100vw - 45px), 1fr);
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(calc(100vw - 45px), 1fr));
    width: calc(100% + 30px);
    padding: 0 15px;
    margin-left: -15px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; }
    .multicolumn.swipe-on-mobile .row::-webkit-scrollbar {
      display: none; }
    .multicolumn.swipe-on-mobile .row .columns {
      scroll-snap-align: center;
      scroll-snap-stop: always;
      padding: 0; } }
