/*------------------------------------------------------------------
Variables
*/
/*------------------------------------------------------------------
Re-usable Styles
*/
.password-login-link {
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

/* Password Protected Page */
.password-protected-page {
  padding: 140px 0; }
  .password-protected-page [role="main"] {
    display: flex;
    justify-content: center;
    align-items: center; }
  .password-protected-page .password-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none; }
  .password-protected-page .password-section {
    position: relative;
    z-index: 20; }
    .password-protected-page .password-section .form-notification {
      margin-top: 30px; }
  .password-protected-page .password-page-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 30;
    max-width: 50vw; }
    @media only screen and (min-width: 768px) {
      .password-protected-page .password-page-logo {
        top: 50px;
        left: 50px; } }
    .password-protected-page .password-page-logo h1 {
      z-index: 10;
      font-size: 24px; }
    .password-protected-page .password-page-logo img {
      width: auto;
      max-width: 100%; }
  .password-protected-page .password-section p {
    font-size: 1.25rem; }
  .password-protected-page .password-section .powered_by_link {
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
    display: block; }

.password-login-link {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: 201;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  padding: 70px 30px;
  background: var(--bg-body);
  height: 100%; }
  .password-login-link[open] {
    opacity: 1;
    visibility: visible; }
    .password-login-link[open] .video-lightbox-modal__content {
      display: flex; }
  .password-login-link__opener {
    display: inline-flex; }
  .password-login-link__button {
    display: none;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 30;
    font-size: 0.8125rem; }
    @media only screen and (min-width: 768px) {
      .password-login-link__button {
        top: 50px;
        right: 50px; } }
    .password-login-link__button svg {
      fill: var(--color-link);
      margin-right: 10px; }
    @media only screen and (min-width: 768px) {
      .password-login-link__button {
        display: inline-flex; } }
    .password-login-link__button svg {
      fill: var(--color-text);
      height: 16px;
      width: auto; }
    .password-login-link__button.no-js {
      display: none; }
      .no-js .password-login-link__button.no-js {
        display: inline-flex; }
  .password-login-link__toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px; }
    .password-login-link__toggle svg {
      width: 12px;
      height: 12px; }
  .password-login-link__content {
    max-height: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-body);
    padding: 20px; }
    @media only screen and (min-width: 768px) {
      .password-login-link__content {
        padding: 40px; } }
  .password-login-link .thb-close-text {
    font-size: 0.75rem;
    opacity: 0.7;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .password-login-link .thb-close-text {
        top: 40px; } }
  .password-login-link .row {
    width: 100%; }
  .password-login-link .storefront-password-form {
    max-width: 360px;
    margin: 30px auto 40px; }
    .password-login-link .storefront-password-form fieldset {
      position: relative; }
    .password-login-link .storefront-password-form .password_field {
      border: 1px solid rgba(var(--color-text-rgb), 0.2);
      border-radius: 5px;
      width: 100%;
      padding-right: 130px;
      color: #000;
      margin: 0;
      height: 52px;
      line-height: 52px; }
    .password-login-link .storefront-password-form .btn {
      display: flex;
      position: absolute;
      top: 4px;
      right: 4px;
      font-size: 0.75rem;
      font-weight: var(--font-body-bold-weight, 600);
      height: calc(100% - 8px);
      border-radius: 3px;
      border: 0;
      color: var(--button-solid-text);
      background: var(--button-solid-bg); }
  .password-login-link p {
    font-size: 0.8125rem; }
